body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start-page {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.start-button {
  padding: 20px;
  background-color: #4D5B9E;
  color: white;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 700;
}

.top-blob {
  position: absolute;
  width: 500px;
  height: 500px;
  top: -30%;
  right: -30%;
  overflow: hidden;
  background: #FFFAD1;
  border-radius: 40% 60% 90% 40% / 70% 0% 70% 30%;
  z-index: -1;
}

.bottom-blob {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -10%;
  left: -35%;
  background: #DEEBF8;
  border-radius: 40% 60% 90% 40% / 70% 30% 70% 30%;
  z-index: -1;
}

.quiz {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDEF0;
}

.question {
  margin-top: 0px;
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
}

button {
  border-radius: 12px;
  border-color: #4D5B9E;
  color: #293264;
  padding: 5px 20px 5px 20px;
  margin: 5px;
  font-family: "Inter";
  font-size: 18px;
}

.unselected {
  background-color: #F5F7FB;
}

.selected {
  border-color: #D6DBF5;
  border-style: solid;
  background-color: #D6DBF5;
}

.correct {
  border-color: #94D7A2;
  border-style: solid;
  background-color: #94D7A2;
}

.incorrect {
  border-color: #F8BCBC;
  background-color: #F8BCBC;
  border-style: solid;
}

.faded {
  opacity: 0.5;
}

.bottom-button {
  margin-top: 40px;
  margin-left: 30px;
  padding: 15px 40px 15px 40px;
  background-color: #4D5B9E;
  color: white;
  font-weight: 700;
}